<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MBK - Executive Login</title>
    <link rel="stylesheet" href="../../common/global.css">
    <!--<link rel="stylesheet" href="login-form.component.css">-->
    <script src="https://code.angularjs.org/2.0.0-beta.15/angular2.dev.js"></script>
    <script src="https://cdn.firebase.com/js/client/2.3.2/firebase.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.min.css">
</head>

<body>
    <div class="container">
        <div class="row">
            <!--
            <div class="one-fourth column"></div>
            <div class="one-fourth column banner-logo">
                <img class="logo" src="resources/mbk.png" alt="MBK: Su mejor opcion" />
                <h1>MBK</h1>
            </div>
        -->
            <div class="one-fourth column login-container">
                <div class="row">
                    <!--<img class="logo-mini" src="resources/mbk.png" alt="MBK: Su mejor opcion" />-->
                    <h2>Inicio de sesión</h2>
                </div>
                <div class="form-group">
                    <label for="email">
                        <h3>Correo electronico</h3>
                        <p>prueba@prueba.com</p>
                    </label>
                    <!--<input id="email" type="email" ngControl="email" required [(ngModel)]="model.email" #email="ngForm" placeholder="Ingrese su correo electronico">-->
                    <input id="email" type="email" class="form-control" required [(ngModel)]="credentials.email" placeholder="Ingrese su correo electronico" >
                    <!--<div [hidden]="model.email.valid">Su correo electronico es requerido</div>-->
                </div>
                <div class="form-group">
                    <label for="password">
                        <h3>Contraseña</h3></label>
                    <!--<input type="password" class="form-control" required [(ngModel)]="model.password" ngFormControl="password" #password="ngForm" placeholder="Ingrese su contraseña">-->
                    <input id="password" type="password" class="form-control" required [(ngModel)]="credentials.password" placeholder="Ingrese su contraseña" >
                    <!--<div [hidden]="password.valid || password.pristine" class="alert alert-danger">
                                Su contraseña es requerida
                            </div>-->
                </div>
                <div class="row">
                    <!--<a href="#">Recuperar contraseña</a>-->
                    <button (click)="loggingInUser(credentials.email, credentials.password)">Iniciar sesión</button>
                    <button (click)="goToInicio(model)">continuar</button>

                </div>
            </div>
            <!--<div class="one-fourth"></div>-->
        </div>
    </div>
</body>

</html>
