<!DOCTYPE html>

<html>

  <head>
    <meta charset="utf-8">
    <title>MBK Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css"
    rel="stylesheet" type="text/css">
    <link href="https://pingendo.github.io/pingendo-bootstrap/themes/default/bootstrap.css"
    rel="stylesheet" type="text/css">
  </head>

  <body>
      <div class="navbar navbar-default navbar-inverse navbar-static-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand"><img height="40" src={{model.avatar}} alt="Brand" class="center-block img-circle"></a>
          </div>
          <div class="collapse navbar-collapse" id="navbar-ex-collapse">
            <a href="#" class="btn btn-danger btn-lg navbar-btn navbar-right"><i class="fa fa-fw fa-sign-out"></i>Salir</a>
            <p class="navbar-left navbar-text">Logueado como
              <a href="#" class="navbar-link">{{model.name}}</a>
            </p>
            <p class="navbar-left navbar-text">Correo:
              <a href="#" class="navbar-link">{{model.email}}</a>
            </p>
          </div>
        </div>
      </div>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1 class="text-center">Menú de Opciones</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <a class="btn btn-block btn-success" (click)="IraProductos()"><i class="fa fa-2x fa-fw fa-group"></i><br>Clientes</a>
          </div>
          <div class="col-md-4">
            <a class="btn btn-block btn-success" (click)="IraChat()  "><i class="fa fa-2x fa-fw fa-angellist"></i><br>Conversaciones</a>
          </div>
        </div>
      </div>
    </div>
  </body>

</html>
